<h1>Bookings#new</h1>
<p>
  From: <%= @flight.departure_airport.airport_code %> ->
  To: <%= @flight.arrival_airport.airport_code %><br>
  When: <%= @flight.start_datetime %><br>
  Duration: <%= @flight.duration %> hrs 
</p>
